<html>
<head>
<title>${projectName}</title>
<style type="text/css">

body {
  padding: 1em 1em 1em 2em;
  background: #e6e2af;
  font-family: Geneva, Helvetica, sans-serif;
  color: #002f2f;
}

h1 {
  color: #046380;
  font-size: 150%;
}

h2 {
  color: #046380;
  font-size: 125%;
}

h3 {
  color: #046380;
  font-size: 100%;
}

p, dl {
  margin-left: 2em;
  margin-right: 2em;
}

ul, ol {
  margin-left: 1em;
  margin-right: 2em;
}

ul p, ol p {
  margin-left: 0em;
  margin-right: 0em;
}

a:link, a:visited {
  color: #046380;
  text-decoration: none;
  font-weight: bold;
}

a:active {
  color: #002f2f;
  text-decoration: none;
  font-weight: bold;
}

ul li {
  display: list-item;
  list-style-type: disc;
}

pre {
  margin-left: 2.5em;
  margin-right: 6em;
  padding: 1em;
  background: #efecca;
  border: 1px dotted #a7a37e;
}

code {
  font-weight: bold;
}

pre code {
  font-weight: normal;
}
</style>
</head>

<body>
<h1> ${projectName} </h1>

<ul>
<#if readme??>
<li> <a href="#_readme">README</a> </li>
</#if>
<#if scaladoc??>
<li> <a href="doc/main/api/index.html">Scala API documentation</a> </li>
</#if>
</ul>

<p/>
<hr/>
<p/>

<#if readme??>
<a name="_readme"></a>
${readme}
</#if>

</body>
</html>
